# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter-*
.dart_tool/
.idea/
.sconsign.dblite

# Objets binaires générés
*.lock
*.log

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner.xcodeproj/project.xcworkspace
ios/Pods/
ios/Runner.xcworkspace
ios/.symlinks/
ios/profile
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle
android/captures/
android/.idea

# VS Code / IntelliJ
.vscode/
*.iml

# Mac
.DS_Store

# Autres
*.apk
*.jks
*.keystore
*.swp
